<% provide(:title, 'All Subjects') %>
   
<div class="subjects"
<aside class="span8 offset2">
 <h2>Subjects</h2>

<aside class="span8 offset2">

<table>
  <table border="1px", style="width:100%">
  <tr>
    <th>Subject Name</th>
    <th>Description</th>
    <th>Ca Percentage</th>
    <th>Final Exam Percentage</th>
    <th>Course</th>
    <th>Delete</th>
   
  </tr>
<% @subjects.each do |subject| %>

<tr>

    <td align="center"><%= subject.name %></td>
    <td align="center"><%= subject.description %></td>
    <td align="center"><%= subject.ca_percent %></td>
    <td align="center"><%= subject.final_exam_percent %></td>
    <td align="center"><%= course.course_id %></td>

  </tr>
  <% end %>

</table>
</aside></aside></div>